body {
    font-family: "Helvetica", sans-serif;
    padding: 1%;
  }

#image {
    float: right;
    width: 300px;
    height: 350px;
    margin-right: 75px;
    border-bottom: 200px;
}
  
  h2 {
    color: #7A0019;
  }
  
  #contact {
    background-color: #FFDE7A;
    padding: 2%;
    height: 410px;

  }

